# only use valid bash
# each lines start with '#' count as comments

# settings for qase reporting
QASE_REPORT=1
QASE_API_TOKEN="you api token",

# settings for cypress reporting
CYPRESS_RECORD_KEY="your record key"

# in base64 format
#CYPRESS_UNLEASH_OVERRIDE_PRIVATE_KEY=
# used algo name: RS256, EdDSA, HS256, etc
#CYPRESS_UNLEASH_OVERRIDE_KEY_ALGORITHM=RS256
